.header {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: center;
	gap: 10px;
	padding: 0 10px;
}

.panel_wrapper {
	grid-column-start: 2;
	justify-self: center;
}

.panel {
	display: flex;
	align-items: center;
	gap: 5px;
}

.buttons {
	display: flex;
	grid-column-start: 3;
	justify-self: self-end;
	gap: 10px;
}

.link_settings {
	transition: all 0.2s;

	&:hover {
		transform: rotate(360deg) scale(1.1);
	}
}
