.tools {
	position: absolute;
	top: 0;
	left: 50%;
	z-index: 2;
	box-shadow: 0 0 10px 1px rgba($color: #000000, $alpha: 50%);
	transform: translateX(-50%);
}

.list {
	display: flex;
	align-items: center;
	gap: 5px;
}
