.wrapper {
	position: relative;
	z-index: 5;
	padding: 10px;
}

.list {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.add__button {
	width: 100%;
	height: 20px;
	margin-top: 10px;
	background-color: wheat;
}

.child {
	position: relative;
	padding: 15px;
}

.delete__button {
	position: absolute;
	top: 0;
	right: 0;
}

.delete__icon {
	width: 10px;
	height: 10px;
	fill: black;
	stroke: black;
}
