@import '/src/05-shared/styles/variables';

.button_icon {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px;
	border-radius: 5px;
	transform: scale(1);
	transition: all 0.2s;
	fill: $secondary-color;
	stroke: $secondary-color;

	&:hover {
		background-color: rgba($color: $sixfold-color, $alpha: 30%);
		fill: $sixfold-color;
		stroke: $sixfold-color;
	}

	&:active {
		filter: brightness(110%);
	}
}
