@import '/src/05-shared/styles/variables';

.wrapper {
	position: relative;
}

.button {
	position: relative;
}

.icon_arrow {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 20px;
	pointer-events: none;
}

.menu {
	position: absolute;
	left: 0;
	z-index: 2;
	background-color: $primary-color;
	border-radius: 5px;
}

.list {
	display: flex;
	flex-direction: column;
	gap: 5px;
}
