/* colors */
$primary-color: #343434;
$secondary-color: #dfdfdf;
$tertiary-color: #1441c1;
$quaternary-color: #232323;
$fivefold-color: #ffa800;
$sixfold-color: #638af6;

/* Всегда должен быть white */
$block-text-color: white;
