@import '/src/styles/variables';

.button_icon {
	padding: 5px;
	border-radius: 5px;
	transition: all 0.2s;

	&:hover {
		background-color: $secondary-color;
	}

	&:active {
		filter: brightness(110%);
	}
}

.icon {
	mix-blend-mode: difference;
	filter: invert(1);
}

/* Sizes */

.small {
	width: 30px;
}

.medium {
	width: 60px;
}

.large {
	width: 90px;
}
