@import '../node_modules/normalize.css/normalize.css';
@import './styles/fonts.css';
@import '/src/styles/variables';

body {
	color: $secondary-color;
	font-family: 'Open Sans', sans-serif;
	background-color: $quaternary-color;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

button {
	background: transparent;
	border: 0;
	cursor: pointer;
}
