@import '../node_modules/normalize.css/normalize.css';
@import './styles/fonts.css';
@import '/src/styles/variables';
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	color: $secondary-color;
	font-family: 'Open Sans', sans-serif;
	background-color: $quaternary-color;
}
