@import '/src/styles/variables';

$offset-gateway: -7px;

.wrapper {
	position: relative;
	display: inline-block;
	padding: 5px;
}

.block_text {
	min-width: 150px;
	padding: 20px 40px;
	background-color: $secondary-color;
	border-radius: 5px;
}

.title {
	color: $block-text-color;
	mix-blend-mode: difference;
}

.gateway {
	position: absolute;
	padding: 11px;
	background-color: $secondary-color;
	border: 1px solid $primary-color;
	border-radius: 50%;

	&:hover {
		filter: brightness(70%);
	}

	&:active {
		filter: brightness(40%);
	}
}

.active_gateway {
	background-color: $fivefold-color;
}

.gateway.top {
	top: $offset-gateway;
	left: 50%;
	transform: translateX(-50%);
}

.gateway.right {
	top: 50%;
	right: $offset-gateway;
	transform: translateY(-50%);
}

.gateway.bottom {
	bottom: $offset-gateway;
	left: 50%;
	transform: translateX(-50%);
}

.gateway.left {
	top: 50%;
	left: $offset-gateway;
	transform: translateY(-50%);
}
