.menu {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
	box-shadow: 0 0 10px 1px rgba($color: #000000, $alpha: 50%);
}

.link_settings {
	transition: all 0.2s;

	&:hover {
		transform: rotate(360deg) scale(1.1);
	}
}
